---
---

<html lang='en'>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
</head>
<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>About Me</h1>
    <p>
        After working through some classes and mediocre textbooks, I would like to have a website which allows one to play with the concepts hands on.
        Hopefully, this all works out and I can simply copypasta this to a real website after working through the examples.
    </p>
</body>
</html>
